<div class="jumbotron">
    <h1 class="text-center">Materiais</h1>
</div>
<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                         
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Novo Material
                        </a>
                        
                    </span>
                    <input class="form-control" #textoProcurado (keyup)="0"  
                        placeholder="filtrar pelo título do material">
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>
    <form>
        <div class="input-group">
            
            <input type="text" class="form-control"  #textoDigitado (keyup)="0" placeholder="filtrar pelo título do material">
            <span class="input-group-btn">
                <botao nome="Remover" estilo="btn-primary" (acao)="lista(textoDigitado.value)">
                </botao>
            </span>                        
        </div>
    </form>                        
    <div class="row">
        <tabela #tabela >
            <tr *ngFor="let material of materiais | filtroPorTitulo: textoProcurado.value">
                <td>{{material.title}}</td>
                <td>{{material.code}}</td>
                <td>{{material.preco}}</td>
                <td>{{material.cad_data}}</td>
                <td><botao nome="Editar" [routerLink]="['/cadastro', material.id]" estilo="btn-primary btn-sm" ></botao></td>
                <td><botao nome="Remover" [confirmacao]="true" estilo="btn-danger btn-sm" (acao)="remover(material, tabela)">
                </botao></td>
            </tr>
        </tabela>
    </div><!-- fim row -->
</div>